
#root{
  height:100%;
  width:100%;
 
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.welcome{
  background: url("./images/welcome.svg"); 
  background-size: cover;
  background-position: center;
  height:100px;
}

.loginForm{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border:1px solid black;
  font-size: small;
}
.form-field{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.form-submit{
  display: flex;
  justify-content: center;
}
.regForm{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border:1px solid black;
  font-size: small;
  padding: 5px;
}
input
{
    font-size:small;
}
.header{
  background-color: grey;
}
.user{
  color: white;
  padding:10px;
}
.userlist{
  padding-left:10px;
}
.video-list-element{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: stretch;
  align-self: center;
  flex-wrap: nowrap;
}
.video-view-count{
  color:black;
}
.video-element-title{
 word-wrap: break-word;
}
.video-element-img{
  object-fit: contain;
  max-width:400px;
  min-width: 120px;
  width:100%;
  height:auto;
}
.video-element-caption{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 2px;
  font-size: 70%;
  overflow: hidden;
  
}

.form-parent-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-section{
  padding: 20px;
}
.video-list-container{
  height: auto;
  padding: 5px;
  border:3px inset;
}
.center-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:20px;
  flex-wrap: wrap;
}
.title-container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: bold;
}

.gallery-container{
  display: flex;
  flex-wrap: wrap;
}
.gallery-element{
  margin:5px;
}
.gallery-image{
  width:90vw;
  object-fit: cover;
}
.go-up-button{
  position: fixed;
  left:10px;
  bottom:50px;
  z-index: 100;
}
@keyframes rotation{
  from{transform: rotate(0deg);}
  to{transform:rotate(360deg);}
}
.spinner{
  width:50px;
  height:50px;
  background-image: url(logo.svg);
  background-size: cover;
  animation: rotation infinite 1s linear;
}

.form-container{
  position: absolute;               
  top: 10%;
  margin-left:auto; 
  margin-right:auto; 
  border:4px outset;
  border-radius: 10px;
  padding:10px;
}
