
#root{
  height:100%;
  width:100%;
 
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.welcome{
  background: url("./images/welcome.png") no-repeat; 
  background-size: cover;
  background-position: center;
  height:100px;
}
@media (min-width:600px){
  .welcome{
    background-size: auto;
  }
}
.loginForm{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border:1px solid black;
  font-size: small;
}
.form-field{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.form-submit{
  display: flex;
  justify-content: center;
}
.regForm{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border:1px solid black;
  font-size: small;
  padding: 5px;
}
input
{
    font-size:small;
}
.header{
  background-color: grey;
}
.user{
  color: white;
  padding:10px;
}
.userlist{
  padding-left:10px;
}
.video-element{
  display:flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: nowrap;
  margin:5px;
  border:1px solid grey;
  padding: 2px;
}
.video-element-img{
  width:auto;
  height:auto;
}
.video-title{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  font-size: small;
}

.form-parent-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-list-container{
  position: relative;
  padding:5px;
  width:60%;
  left:50px;
}
.center-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:20px;
  flex-wrap: wrap;
}
.title-container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: bold;
}

.gallery-container{
  display: flex;
  flex-wrap: wrap;
}
.gallery-element{
  margin:5px;
}
.gallery-image{
  width:90vw;
  object-fit: cover;
}

@keyframes rotation{
  from{transform: rotate(0deg);}
  to{transform:rotate(360deg);}
}
.spinner{
  width:50px;
  height:50px;
  background-image: url(logo.svg);
  background-size: cover;
  animation: rotation infinite 1s linear;
}

.form-container{
  position: absolute;               
  top: 10%;
  margin-left:auto; 
  margin-right:auto; 
  border:4px outset;
  border-radius: 10px;
  padding:10px;
}
